@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@font-face {
    font-family: 'Cirka';
    src: url('../fonts/Cirka/Cirka\ Bold\ 700.otf') format('otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Cirka';
    src: url('../fonts/Cirka/Cirka\ Light\ 300.otf') format('otf');
    font-weight: 300;
}
@font-face {
    font-family: 'Cirka';
    src: url('../fonts/Cirka/Cirka\ Regular\ 400.ttf') format('otf');
    font-weight: 400;
}
@import './components/header.scss';
@import 'reset';
@import './components/hero';
@import './components/clients.scss';
@import './components/features.scss';
@import './components/uniqueness.scss';
@import './components/saving.scss';
@import './components/customized.scss';
@import './components/FAQ.scss';
@import './components/footer.scss'